/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  .formbody {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  .name {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .submitbtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submitbtn:hover {
    background-color: #0056b3;
  }
  
  #result{
    margin-top: 25px;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
  }

  .card-container{
    background: rgb(0,212,255);
    background: linear-gradient(45deg, rgba(0,212,255,1) 0%, rgba(11,3,45,1) 100%);    
    background-image: url(http://st2.depositphotos.com/3077183/5793/i/450/depositphotos_57939353-Frosted-glass-texture-background.jpg);
    background-size: cover;
    background-position: center;    
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 120vh;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    
  }

  .user_img{
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }

.card_title{
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.para_card{
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.1rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btnfill{
border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;  
  letter-spacing: 2px;  
  cursor: pointer;
  background: transparent;
  color: black;
  border: 3px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;
}

.btnfill:hover{
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}